version: 2.1
jobs:
  build:
    docker:
      - image: fpco/stack-build:lts-12.13
    steps:
      - checkout
      - run:
          name: Resolve/Update Dependencies
          command: stack setup
      - run:
          name: Build
          command: stack build --jobs 1
      - run:
          name: Run tests
          command: stack build PracticalHaskell:test:final-server-tests
